@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='range']::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--thumb-color);
    cursor: pointer;
}

input[type='range']::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--thumb-color);
    cursor: pointer;
}

input[type='range']::-ms-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--thumb-color);
    cursor: pointer;
}
